<style>
  .row {
    width: 1220px;
  }

  .col-here {
    width: 1220px;
    max-width: 1220px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin: auto;
    gap: 10px;
  }

  .error-section {
    width: 382px;
    height: 442px;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .error-section img {
    width: 358.59423712636544px;
    height: 422.3355071128011px;
    transform: rotate(-3.21deg);
  }

  .error-section p {
    width: 179px;
    height: 88px;
    color: rgba(255, 187, 0, 1);
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    bottom: 190px;
    left: 90px;
  }

  .text-section {
    width: 457px;
    height: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .error-message {
    font-size: 17.17px;
    color: #000000;
    text-align: center;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 0;
  }

  .text-section a {
    width: 179px;
    height: 41px;
    background-color: white;
    color: rgba(1, 156, 66, 1);
    border: 3.1px solid rgba(1, 156, 66, 1);
    border-radius: 62.03px;
    font-size: 18.61px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.9s ease;
    position: relative;
    overflow: hidden;
  }

  .text-section a:hover {
    background-color:rgba(1, 156, 66, 1);
    color: white;
  }

</style>

{{ header }}
<div id="error-not-found" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item">
      <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col-here">
      {{ content_top }}
      <!-- <h1>{{ heading_title }}</h1>
      <p>{{ text_error }}</p>
      <div class="text-end"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div> -->

      <div class="error-section">
        
        <div class="four-zero-four-number">
          <img src="image\error.png" alt="error">
          <p>404 Error</p>
        </div>
        
      </div>

      <div class="text-section">
        <p class="error-message">
          Sorry, we couldn't find the page you are looking for.
        </p>
        <a href="{{ continue }}">Back to Home</a>
      </div>

      {{ content_bottom }}
    </div>

    {{ column_right }}
  </div>
</div>
{{ footer }}
