<style>
  .col h1, h2 {
    display: none;
  }

  .account-container {
    display: block;
    width: 850px;
    height: 395px;
    max-width: 850px;
    background-color: #ffffff;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
  }

  .top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86px;
    background-color: rgba(31, 31, 31, 1);
    border-radius: 16px 16px 0 0;
    padding: 5px 0 5px 0;
  }

  .account-action {
    margin: auto;
    display: flex;
    width: 700px;
    height: 46px;
    background-color: rgba(31, 31, 31, 1);
    justify-content: center;
    align-items: center;
  }

  .account-action img {
    width: 46px;
    height: 46px;
    margin-left: 20px;
  }

  .col .action-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .action-text h6 {
    color: rgba(177, 177, 177, 1);
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 0;
  }

  .col .action-text h1 {
    display: block;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 0;
  }

  .action-logout {
    width: 88px;
    height: 20px;
    margin-left: auto;
  }

  .action-logout a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 6px;
  }

  .action-logout img {
    width: 30px;
    height: 30px;
    margin-left: auto;
  }

  .action-logout h6 {
    /* font-family: Montserrat; */
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    /* leading-trim: CAP_HEIGHT; */
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
  }

  .account-inner-container {
    display: block;
    width: 810px;
    height: 355px;
    padding: 10px 0;
    background-color: #ffffff;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
  }

  .account-flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    padding: 3px 40px;
    width: 810px;
    height: 355px;
    justify-content: center;
    align-items: center;
    margin: auto;

  }
  .account-flex .list-unstyled {
    display: flex;
    margin: 0;
    gap: 8px;
  }

  .account-flex .list-unstyled li {
    display: block;

  }
  .account-flex .list-unstyled li a {
    /* font-family: Montserrat; */
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background: #fcfdfd;
    color: #000000;
    border-radius: 15px;
    border-color: #0e0f0f;
    
    box-shadow: 0px 1px 4.5px 0px rgba(0, 0, 0, 0.25) inset;

    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
    width: 171px;
    height: 165px;
    gap: 20px;
  }

  @keyframes slideIn {
        from { box-shadow: 0px 1px 4.5px 0px rgba(0, 0, 0, 0.25) inset; }
        to { 
          box-shadow: 0px 4px 0px 0px orange inset, 0px -4px 0px 0px rgb(0, 0, 0) inset;
          color: orange;
        }

    }

  .account-flex .list-unstyled li a:hover {
    animation: slideIn 600ms ease-out forwards;
  }

  #unwanted_items {
    display: none;
  }

  .account-flex .list-unstyled .affiliate ul {
    display: none;
  }

  #newsletter {
    all: unset;
    display: none;
  }

</style>

{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
       {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <div class="account-container">
        <div class="top-bar">
          <div class="account-action">
            <img src="image\profile.png" alt="profile">
            <div class="action-text">
              <h6>{{ text_welcome_user }}</h6>
              <h1>{{ text_username }}</h1>
            </div>
            <div class="action-logout">
              <a href="">
                <img src="image\State=Hover.png" alt="logout">
                <h6>{{ text_logout }}</h6>
              </a>
            </div>
          </div>
        </div>
        <div class="account-inner-container">
          <div class="account-flex">
            <h1>{{ text_my_account }}</h1>
            <ul class="list-unstyled">
              <li><a id="edit_profile" href="{{ edit }}"><img src="image/State=Default.png" alt="Default">{{ text_edit }}</a></li>
              <li><a id="change_password" href="{{ password }}"><img src="image/State=Default.png" alt="Default">{{ text_password }}</a></li>
              <li id="unwanted_items"><a href="{{ payment_method }}"><img src="image/State=Default.png" alt="Default">{{ text_payment_method }}</a></li>
              <li><a id="modify_address" href="{{ address }}"><img src="image/State=Default.png" alt="Default">{{ text_address }}</a></li>
              <li><a id="modify_wishlist" href="{{ wishlist }}"><img src="image/State=Default.png" alt="Default">{{ text_wishlist }}</a></li>
            </ul>
            <h2>{{ text_my_orders }}</h2>
            <ul class="list-unstyled">
              <li><a id="view_order" href="{{ order }}"><img src="image/State=Default.png" alt="Default">{{ text_order }}</a></li>
              <li><a id="view_subscription" href=""><img src="image/State=Default.png" alt="Default">{{ text_subscription }}</a></li>
              <li><a id="view_downloads" href=""><img src="image/State=Default.png" alt="Default">{{ text_download }}</a></li>
              {% if reward %}
                <li id="unwanted_items"><a href="">{{ text_reward }}</a></li>
              {% endif %}
              <li><a id="view_returns" href=""><img src="image/State=Default.png" alt="Default">{{ text_return }}</a></li>
              <li id="unwanted_items"><a href=""><img src="image/State=Default.png" alt="Default">{{ text_transaction }}</a></li>
            </ul>
            {% if affiliate %}
              <h2>{{ text_my_affiliate }}</h2>
              <ul class="list-unstyled affiliate">
                {% if not tracking %}
                  <li id="unwanted_items"><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>
                {% else %}
                  <li id="unwanted_items"><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>
                  <li id="unwanted_items"><a href="{{ tracking }}">{{ text_tracking }}</a></li>
                {% endif %}
              </ul>
            {% endif %}
            <h2>{{ text_my_newsletter }}</h2>
            <ul class="list-unstyled" id="newsletter">
                <li><a id="subscribe_newsletter" href="{{ newsletter }}"><img src="image/State=Default.png" alt="Default">{{ text_newsletter }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
