<style>
  .container .row-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    border-radius: 15px;
    width: 1024px;
    margin: auto;
    height: auto;
  }

  .row-container .sidebar-container {
    width: 280px;
  }

  .row-container .col-password-area {
    width: calc(1024px - 280px);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .heading-title {
    color: rgba(255, 187, 0, 1);
    margin-bottom: 20px;
  }

  .row-form-field {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .row-form-field .form-control {
    gap: 113.23px;
    opacity: 1;
    padding-top: 18.74px;
    padding-right: 23.43px;
    padding-bottom: 18.74px;
    padding-left: 24.99px;
    border-radius: 10px;

    width: 100%;
    height: 53px;
    background-color: rgba(233, 239, 246, 1);
    
    font-weight: 400;
    font-size: 12.49px;
    line-height: 100%;
    color: rgba(177, 177, 177, 1);
  }

  .required-input:after {
    content: " *";
    color: red;
    font-weight: bold;
  }

  .col-button {
    display: none;
  }

  .col-continue-button {
    margin-top: 20px;

  }

  .col-continue-button button {
    width: 85;
    height: 34;
    gap: 10px;
    opacity: 1;
    border-radius: 40px;
    border-width: 2px;
    background-color: #fff;

    color: rgba(255, 187, 0, 1);
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.23px;

    padding: auto;

    border: 3px solid rgba(255, 187, 0, 1);
  }

  .col-continue-button button:hover {
    background-color: rgba(255, 187, 0, 1);
    color: #fff;
    border: 3px solid rgba(255, 187, 0, 1)
  }

</style>

{{ header }}
<div id="account-password" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row-container">
    <div class="sidebar-container">{{ column_left }}</div>
    
    <div id="content" class="col-password-area">{{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>
      <form id="form-password" action="{{ save }}" method="post" data-oc-toggle="ajax">
        <fieldset>
          <div class="row-form-field required">
            <label for="input-password" class="required-input col-md-3">{{ entry_old_password }}</label>
            <div>
              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_pass_placeholder }}" id="input-password" class="form-control" autocomplete="new-password"/>
              <div id="error-password" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row-form-field required">
            <label for="input-password" class="required-input col-md-3">{{ entry_password }}</label>
            <div>
              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_pass_placeholder }}" id="input-password" class="form-control" autocomplete="new-password"/>
              <div id="error-password" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row-form-field required">
            <label for="input-confirm" class="required-input col-md-3">{{ entry_confirm }}</label>
            <div>
              <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_pass_placeholder }}" id="input-confirm" class="form-control"/>
              <div id="error-confirm" class="invalid-feedback"></div>
            </div>
          </div>
        </fieldset>
        <div class="row-button">
          <div class="col-button">
            <a href="{{ back }}" class="btn btn-light">{{ button_back }}</a>
          </div>
          <div class="col-continue-button text-center">
            <button type="submit" class="btn btn-primary"><span>{{ button_continue }}</span></button>
          </div>
        </div>
      </form>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
