<style>
  .reviews-container {
    width: 898px;
    height: 247px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  .reviews-title {
    height: 31px;
    color: #f5a623;
    font-size: 24px;
    border-bottom: .5px solid rgba(255, 187, 0, 1);
  }
  .reviews-title span {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: -0.23px;
    padding-left: 28px;

  }
  .reviews-paragraph {
    height: 30px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.23px;
    text-align: justify;
    padding-left: 28px;
  }
  .review-section {
    display: flex;
    justify-content: center;
    width: 898px;
    height: 186px;
    padding-left: 28px;
    padding-right: 28px;
    gap: 10px;
  }
  .write-review {
    width: 416px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .write-review h3 {
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.23px;
    text-align: justify;
    margin-bottom: 0;
  }
  .write-review .input-group-here {
    display: flex;
    justify-content: space-between;
    width: 416px;
    height: 36px;
    gap: 10px;
  }

  .write-review .input-group-here input {
    width: 50%;
    height: 36px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f0f4f8;
    border: 0;
  }

  .input-group-here input::placeholder {
    
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;

  }
  
  .write-review textarea {
    width: 100%;
    height: 110px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f4f8;
    border: 0;
    resize: none;
  }
  .write-review textarea::placeholder {
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .write-review .input-group input {
    width: 198px;
  }
  .rating-section {
    width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    color: rgba(31, 31, 31, 1);
  }
  .rating-section label {
    font-size: 16px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.23px;
    text-align: center;

  }
  .rating-radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .rating-radio-options {
    background: rgba(233, 239, 246, 1);
    width: 416px;
    height: 35px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .rating-radio input[type="radio"] {
    margin-right: 5px;
  }
  .submit-btn-section {
    display: flex;
    justify-content: flex-end;
  }
  .submit-btn {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    color: orange;
    border: 2px solid orange;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .submit-btn:hover {
    color: white;
    background-color: orange;
  }

  .hide-it {
    display: none;
  }
</style>

<form id="form-review">
  <!-- <div class="hide-it">
    <div id="review">{{ list }}</div>
    <h2>{{ text_write }}</h2>
    {% if review_guest %}
    <div class="mb-3 required">
      <label for="input-author" class="form-label">{{ entry_author }}</label>
      <input
        type="text"
        name="author"
        value="{{ customer }}"
        id="input-author"
        class="form-control"
      />
      <div id="error-author" class="invalid-feedback"></div>
    </div>
    <div class="mb-3 required">
      <label for="input-text" class="form-label">{{ entry_review }}</label>
      <textarea
        name="text"
        rows="5"
        id="input-text"
        class="form-control"
      ></textarea>
      <div id="error-text" class="invalid-feedback"></div>
      <div class="invalid-feedback">{{ text_note }}</div>
    </div>
    <div class="row mb-3 required">
      <label class="form-label">{{ entry_rating }}</label>
      <div id="input-rating">
        {{ entry_bad }}&nbsp;
        <input type="radio" name="rating" value="1" class="form-check-input" />
        &nbsp;
        <input type="radio" name="rating" value="2" class="form-check-input" />
        &nbsp;
        <input type="radio" name="rating" value="3" class="form-check-input" />
        &nbsp;
        <input type="radio" name="rating" value="4" class="form-check-input" />
        &nbsp;
        <input type="radio" name="rating" value="5" class="form-check-input" />
        &nbsp;{{ entry_good }}
      </div>
      <div id="error-rating" class="invalid-feedback"></div>
    </div>
    {{ captcha }}
    <div class="text-end">
      <button type="submit" id="button-review" class="btn btn-primary">
        {{ button_continue }}
      </button>
    </div>
  </div> -->

  <div class="reviews-container">
    <div class="reviews-title"><span>Reviews (0)</span></div>
    <div class="reviews-paragraph">
      Get specific details about this product from customers who own it.
    </div>
    <div class="review-section">
      <div class="write-review">
        <h3>Write your review</h3>
        <div class="input-group-here">
          <input type="text" placeholder="Your Name *" required />
          <input type="email" placeholder="Your Email *" required />
        </div>
        <textarea
          placeholder="Describe your review *"
          rows="4"
          required
        ></textarea>
      </div>
      <div class="rating-section">
        <div class="rating-radio">
          <label>Rating</label>
          <div class="rating-radio-options">
            Bad
            <input type="radio" name="rating" value="1" /> 
            <input type="radio" name="rating" value="2" />
            <input type="radio" name="rating" value="3" />
            <input type="radio" name="rating" value="4" />
            <input type="radio" name="rating" value="5" /> Good
          </div>
        </div>
        <div class="submit-btn-section">
          <button class="submit-btn">{{ button_continue }}/button>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  {{ text_login }}
  {% endif %}
</form>
<script type="text/javascript">
  <!--
  $('#review').on('click', '.pagination a', function(e) {
      e.preventDefault();

      $('#review').load(this.href);
  });

  // Forms
  $('#form-review').on('submit', function(e) {
      e.preventDefault();

      var element = this;

      $.ajax({
          url: 'index.php?route=product/review.write&language={{ language }}&review_token={{ review_token }}&product_id={{ product_id }}',
          type: 'post',
          data: $('#form-review').serialize(),
          dataType: 'json',
          cache: false,
          contentType: 'application/x-www-form-urlencoded',
          processData: false,
          beforeSend: function() {
              $('#button-review').button('loading');
          },
          complete: function() {
              $('#button-review').button('reset');
          },
          success: function(json) {
              $('.alert-dismissible').remove();
              $('#form-review').find('.is-invalid').removeClass('is-invalid');
              $('#form-review').find('.invalid-feedback').removeClass('d-block');

              if (json['error']) {
                  if (json['error']['warning']) {
                      $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error']['warning'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                  }

                  for (key in json['error']) {
                      $('#input-' + key.replaceAll('_', '-')).addClass('is-invalid').find('.form-control, .form-select, .form-check-input, .form-check-label').addClass('is-invalid');
                      $('#error-' + key.replaceAll('_', '-')).html(json['error'][key]).addClass('d-block');
                  }
              }

              if (json['success']) {
                  $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                  $('#input-text').val('');
                  $('#input-rating input[type=\'radio\']').prop('checked', false);
              }
          },
          error: function(xhr, ajaxOptions, thrownError) {
              console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
  });
  //-->
</script>
